.description-block {
    margin-top: 40px;
    margin-bottom: 70px;

    .preview-image {
        min-height: 148px;

        .equation {
            height: 180px;
            line-height: 180px;
        }
    }

    .description {
        margin: 30px 0;

        &.boxed {
            background-color: @off-white;
            padding: 20px 35px;
        }

        h5 {
            font-weight: 700;
            color: @gray;
        }
    }
}

.jumbotron {
    &.home {
        background: url(../images/jumbotron-home.png) no-repeat;
        background-size: cover;
        min-height: 436px;
        margin-bottom: 0;

        h1 { margin-bottom: 50px; }

        .slogan {
            font-style: normal;
            font-weight: 800;
        }
    }

    &.quote {
        background: @gray;
        padding: 85px 0;
        margin: 0;

        .fa {
            color: @brand-secondary;
        }

        .emphasis {
            font-style: normal;
            font-weight: 800;
            color: @brand-secondary;
        }

        .quote-text {
            padding: 0;
            margin: 0;
            border: none;

            footer {
                font-size: 17px;
                margin: 15px auto;

                .source {
                    font-weight: 700;
                    .text-uppercase();
                }
            }
        }
    }
}

.primary {
    background-color: @brand-primary;
    color: #FFF;
}

.secondary {
    background-color: @brand-secondary;
    color: @gray;
}

.tertiary {
    background-color: @brand-tertiary;
    color: #FFF;
}

.section {
    .content {
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .banner {
        height: 64px;
        line-height: 64px;

        .banner-header {
            font-weight: 700;
            font-size: 22px;
            text-align: center;
        }
    }

    &.primary {
        background-color: @gray-lighter;

        .banner { background-color: @off-white; }

        .content { color: @gray-darker; }
    }

    &.secondary {
        background-color: #f2f4f2;
        color: @gray;

        .banner { background-color: @gray-lighter; }
    }
}

.divider {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 64px;
    margin: 0;
    .text-uppercase();
}

.button-container { padding: 70px 15px; }
